<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 0;
            padding: 0;
            background-color:ghostwhite;
        }

        .top {
            background-color:wheat;
            color:blue;
            text-align: center;
            padding: 20px;
        }

        section {
            max-width: 800px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h2 {
            color: #333;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

       

    </style>

</head>
<body>

    <header class="top">
        <h1>Privacy Policy</h1>
        <p>Last Updated: [01-01-2024]</p>
    </header>

    <section>
        <h2>Information We Collect</h2>
        <p>
            We collect information that you provide directly to us when you use Eduregist. This may include:
        </p>
        <ul>
            <li>Personal Information: such as your name, email address, and other contact details.</li>
            <li>Registration Information: information you provide when you register for an account.</li>
            <li>Usage Information: information about how you use Eduregist, including log data and device information.</li>
        </ul>
    </section>



    <section>
        <h2>Your Choices</h2>
        <p>
            You can control your personal information by:
        </p>
        <ul>
            <li>Reviewing and updating your account settings.</li>
            <li>Adjusting your communication preferences.</li>
            <li>Contacting us for any specific requests related to your data.</li>
        </ul>
    </section>

    <section>
        <h2>Contact Us</h2>
        <p>If you have any questions or concerns about our Privacy Policy, please contact us at <a href="eduregist22@outlook.com">contact@email.com</a>.</p>
    </section>

</body>
</html>


